<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.accountBook.mapper.MoneyAccountMapper">

    <!-- 定义 resultMap -->
    <resultMap id="AccountWithCategoryMap" type="org.accountBook.dto.Account">
        <id property="id" column="id"/>
        <result property="amount" column="amount"/>
        <result property="note" column="note"/>
        <result property="transaction_date" column="transaction_date"/>
      
        <association property="category" javaType="org.accountBook.dto.Category">
            <id property="id" column="category_id"/>
            <result property="type" column="cate_type"/>
            <result property="name" column="cate_name"/>
        </association>
    </resultMap>

    <insert id="addTypeName" >
        insert ignore into category (user_id,type,name,sort_order)
        values (#{user_id},#{type},#{name},#{sort_order})
    </insert>

    <select id="getCategory" resultType="org.accountBook.dto.Category">
        select
            id,
            type,
            name,
            sort_order
        from category
        where user_id=#{id}
        order by type desc, sort_order asc
    </select>

    <select id="getAccount" resultMap="AccountWithCategoryMap">
select
     acc.id,
     cate.type as cate_type,
     cate.name as cate_name,
     acc.amount,
     acc.note,
     acc.transaction_date
    from account_record as acc left join category as cate
on acc.category_id =cate.id
where user_id=#{id}
    </select>

    <insert id="addAccount" >
        insert into account_record (user_id,category_id,amount,transaction_date,note)
        values (#{user_id},#{category_id},#{amount},#{transaction_time},#{note})
    </insert>

    <select id="countTypeByCaId" resultType="int">
        select count(*)
        from account_record
        where category_id=#{id}
    </select>

    <delete id="deleteType">
        delete from category
        where id=#{id}
         and user_id=#{userid}
    </delete>

    <delete id="deleteById">
        delete from account
        where id=#{id}
        and user_i=#{userid}
    </delete>
</mapper>
